*{
    box-sizing: border-box;
}
.container{
 
    width:100vw;
    height: 100vh;
    position:relative;
}
.chart-main{
    background-color: aliceblue; 
    position: absolute;
    left: 30%;
    top: 20%;
}
.options {
  position: absolute;
  left: 10%;
  top: 20%;
  height: 200px;
  background-color: aliceblue;
}
.options #btn-fetch,
#btn-bar,
#btn-pie {
  background-color: aliceblue;
  display: block;
  border: 0;
  width: 100px;
  height: 50px;
  outline: none;
}
span{
    background-color: tomato;
    padding:3px;
    color:#fff;
}
.options #btn-fetch:after,
#btn-bar:after,
#btn-pie:after {
  display: block;
  content: "__________";
}
